<div class = "row">
    <div class="col-md-6">
        <h2>
            {{ object.title }}
        </h2>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
        <button ng-if="object.user_id == user_id" style="margin-top:20px" class="btn btn-danger" ng-click="deleteObject(object.id)">Delete</button>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>{{ object.description }}</p>
    </div>
</div>
<div ng-hide="editMode" class="container">
    <div>
        <p>
            <button  ng-if="object.user_id == user_id" style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
            <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
        </p>
    </div>
</div>
<!-- Contact form -->
<div ng-include="objectFormUrl"></div>
