<div class="row" ng-hide="object.id">
    <div class="col-md-6" style="text-align: center;">
        <h2>Create new Ads</h2>
    </div>
</div>
<div class="container" style="width:75%">
    <form>
        <p>
            <label>Title (required)</label>
            <input id="name" class="form-control" type="text" ng-model="object.title">
        </p>
        <p>
            <label>Description (required)</label>
            <input id="name" class="form-control" type="text" ng-model="object.description">
        </p>
        <p>
            <!-- if edit mode is on  -->
            <button ng-if="editMode" style="margin-top:20px" class="btn btn-success" ng-click="saveObject(object)">Save</button>
            <!-- esle  -->
            <button ng-if="!editMode" style="margin-top:20px" class="btn btn-success" ng-click="saveObject(object)">Create</button>
            <!-- endif -->
            <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
        </p>
    </form>
</div>
