<div class = "row" style="margin-left:0px;">
    <div class="col-md-6">
        <h2>
            List of Ads
        </h2>
    </div>
</div>
<div class="row" style="margin-left:0px;margin-bottom:5px;">
    <div class="col-md-4" >
        <a ng-if="user_id>0" style="margin-top:20px" class="btn btn-success" href="#/new/object">Create New</a>
        <p ng-if="user_id==0" style="margin-top:20px" >
            Please sign in to create new Ad
        </p>
    </div>
</div>
<style>
    td,th {
    text-align: center;
    }
</style>
<div class="container">
    <table class="table table-striped table-hover table-bordered" style="width:75%;">
        <thead>
            <tr>
                <th>Created</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in objects | filter : paginate " >
                <td> {{ object.created_at |  date :  "dd.MM.y" }}</td>
                <td>
                    <a ng-href="#/object/{{object.id}}">
                    {{ object.title| limitTo: 10 }} {{ object.title.length >10 ? '...': '' }}
                    </a>
                </td>
                <td> {{ object.user.name }}</td>
                <td>
                    {{ object.description | limitTo: 10 }}{{ object.description.length >10 ? '...': '' }}
                </td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalItems" ng-model="currentPage"
        max-size="5" boundary-links="true"
        items-per-page="numPerPage" class="pagination-sm"></pagination>
</div>
